{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {% if 'deva' == app.environment %}
        <div id="login-result"></div>
        <form action="{{ path('app_login') }}" method="post" id="login-form">
            <input type="text" name="email" id="email" placeholder="email">
            <input type="text" name="password" id="password" placeholder="password">
            <button id="send">send</button>
        </form>
        <script>
            $('#send').click(function () {
                // const zData = {'email':$('#email').val(),password:$('#password').val()}
                const data = JSON.stringify({'email': $('#email').val(), password: $('#password').val()})
                $.ajax({
                    url: 'login',
                    type: 'POST',
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                })
                    .done(function (data, textStatus, request) {
                        window.location.replace('/')
                    })
                    .fail(function (xhr, status, errorThrown) {
                        if (xhr.responseJSON) {
                            $('#login-result').html(xhr.responseJSON.error)
                        } else {
                            alert('Sorry, there was a problem! - ' + errorThrown)
                        }
                        console.log('Error: ' + errorThrown)
                        console.log('Status: ' + status)
                        console.dir(xhr)
                    })

                return false;
            })
        </script>
    {% else %}
        <div>
            <a href="{{ path('connect_google_start') }}">
                Google
            </a>

        </div>
    {% endif %}
{% endblock %}
